@media (min-width: 500px) {
    :root {
       --transition-duration: 1s;
       --transition-easing: cubic-bezier(0.5, 0, 0.5, 1);
       --animation-duration: 0.3s;
       --animation-timing-function: ease-in-out;
         }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: auto;
        background-color: black;
        text-align: center;
    }
    
    #wrapper {
        width: 100%;
        color: black;
        background-color: black;
    }
    
    h1 {
        font-size: 3em;
        padding-left: 0;
        color: black;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 4px 4px 6px #FFD851;
        animation: slide-up var(--animation-duration) var(--transition-easing);
        animation-duration: 1s;
        will-change: transform;
    }
    
    h2 {
        font-size: 2em;
        padding: 0.5, 0, 0, 0.5;
        color: black;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 4px 4px 6px #FFD851;
        animation: slide-up var(--animation-duration) var(--transition-easing);
        animation-duration: 1s;
        will-change: transform;
    }
    
    button {
        padding: 0.5, 0, 0, 0.5;
        font-weight: bold;
        font-size: 1em;
        color: white;   
        background-color: black;
        border: 5px dotted #FFD851;
        animation: shake;
        animation-duration: 6s;
        animation-direction: alternate-reverse;
        will-change: transform;
        transition-propery: transform;
        transition-duration: 0.3s;
      
          &:hover, &:focus {
          color: black;
          background-color: #d4af37;
          transform: scale(1.1);
        }
    
          &:active {
          transform: translateY(10%);
        }
    }

    @keyframes slide-up {
        from {
          opacity: 0;
          transform: translateY(100%);
        }
        to {
          opacity: 1;
          transform: none;
        }
    }
    
    @keyframes shake {
        20%,
        40%,
        60%,
        80% {
            transform: translateX(10px);
        }
        10%,
        30%,
        50%,
        70%,
        90% {
            transform: translateX(-5px);
        }
        from,
        to {
            transform: none;
        }
    }
    
    img {
        width: 320;
        height: auto;
        border: 5px dotted #FFD851;
        border-radius: 0px;
    }

    main {
        padding-bottom: .5em;
    }
    
    footer {
        padding: 0.5em;
        margin: 0;
        color: white;
        background-color: black;
    }
    
    }
